{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Minio": {
    "Endpoint": "",
    "AccessKey": "",
    "SecretKey": ""
  },
  "InternalTags": [
    {
      "Name": "alpha",
      "Color": "",
      "Description": ""
    },
    {
      "Name": "beat",
      "Color": "",
      "Description": ""
    },
    {
      "Name": "rc",
      "Color": "",
      "Description": ""
    }
  ]
}
