<nz-page-header class="site-page-header">

  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item *ngFor="let item of breadcrumbItems">
      <div *ngIf="item.link == null" style="display: inline;">
        {{item.displayName}}
      </div>

      <a *ngIf="item.link != null" routerLink="{{item.link}}">
        {{item.displayName}}
      </a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-avatar nz-page-header-avatar nzText="{{artifactName}}"> </nz-avatar>

  <nz-page-header-title>{{artifactName}}</nz-page-header-title>

</nz-page-header>

<nz-table nzShowSizeChanger [nzData]="table.datas" [nzFrontPagination]="false" [nzLoading]="table.isLoading"
  [nzTotal]="table.total" [nzPageSize]="table.page.size" [nzPageIndex]="table.page.index"
  (nzQueryParams)="table.onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>版本</th>
      <th>标签</th>
      <th>下载数</th>
      <th>最近更新</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.datas">
      <td>{{data.version}}</td>
      <td>
        <app-d-tag *ngFor="let tag of data.tags" [tag]="tag"></app-d-tag>
      </td>
      <td>{{data.downloadQuantity}}</td>
      <td>{{data.lastUpdateTime}}</td>
      <td>
        <a routerLink="v/{{data.version}}">详情</a>
      </td>
    </tr>
  </tbody>
</nz-table>