<div *nzModalTitle>
    编辑 {{artifact.name}}_v{{artifact.version}}
</div>

<div>
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="">标签</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-tag *ngFor="let tag of data.tags;" [nzMode]="'closeable'" (nzOnClose)="removeTag(tag)">
                    {{ tag}}
                </nz-tag>
                <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showTagInput()">
                    <i nz-icon nzType="plus"></i>
                    Add
                </nz-tag>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="isConfriming" (click)="confrime()">确认</button>
</div>