<div>
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="">名称</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="必填">
              <input nz-input formControlName="name" id="name" />
            </nz-form-control>
          </nz-form-item>
    </form>

    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="email" type="email" id="email">
        </nz-form-control>
      </nz-form-item >
    </form>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Custom Callback</button>
    <button nz-button nzType="primary" (click)="destroyModal()">Custom Submit</button>
</div>