<div>
    <form nz-form  [formGroup]="validateForm" >
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="">名称</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="必填">
              <input nz-input id="name"/>
            </nz-form-control>
          </nz-form-item>
    </form>
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">取消</button>
    <button nz-button nzType="primary" (click)="destroyModal()">确认</button>
</div>