<nz-page-header class="site-page-header">

    <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item *ngFor="let item of breadcrumbItems">
            <div *ngIf="item.link == null" style="display: inline;">
                {{item.displayName}}
            </div>

            <a *ngIf="item.link != null" routerLink="{{item.link}}">
                {{item.displayName}}
            </a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="validateForm">

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="">标签</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <app-tags [(tags)]="data.tags" [editable]="true"></app-tags>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="">上一个版本</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="不能为空">
            <input nz-input formControlName="baseVersion" id="baseVersion" [(ngModel)]="data.attributes['base']" />
        </nz-form-control>
    </nz-form-item>

</form>