<nz-page-header class="site-page-header">

  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a>仓库</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{repo.code}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-avatar nz-page-header-avatar nzText="{{repo.code}}"> </nz-avatar>

  <nz-page-header-title>{{repo.code}}</nz-page-header-title>

  <nz-page-header-extra>
    <button nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu" style="border: none; padding: 0">
      <i nz-icon nzType="ellipsis" nzTheme="outline" style="font-size: 20px; vertical-align: top;"></i>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item nzDanger (click)="deleteClick()">删除</li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>

</nz-page-header>

<nz-table nzShowSizeChanger [nzData]="artifactTable.datas" [nzFrontPagination]="false"
  [nzLoading]="artifactTable.isLoading" [nzTotal]="artifactTable.total" [nzPageSize]="artifactTable.page.size"
  [nzPageIndex]="artifactTable.page.index" (nzQueryParams)="artifactTable.onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>制品名</th>
      <th>最新版本</th>
      <th>最近更新</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of artifactTable.datas">
      <td>{{data.name}}</td>
      <td>{{data.latestVersion}}</td>
      <td>{{data.lastUpdateTime}}</td>
      <td>
        <a routerLink="/repo/{{repo.code}}/artifacts/{{data.name}}">详情</a>
      </td>
    </tr>
  </tbody>
</nz-table>